{% extends 'GPT_home.html' %}
{% csrf_token %}
{% block content %}

<div class="container mt-4">
    <h2>Your Title Requests</h2>
    <ul class="list-group">
        {% for request in page_obj %}
        <li class="list-group-item">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <div class="d-flex align-items-center">
                        <div class="mr-3">
                            {% if request.movie.poster_url %}
                            <img src="{{ request.movie.poster_url }}" class="img-thumbnail" alt="Poster del film" style="width: 75px; height: 100px;">
                            {% else %}
                            <img src="https://via.placeholder.com/75x100" class="img-thumbnail" alt="Immagine non disponibile">
                            {% endif %}
                        </div>
                        <div>
                            <h5 class="mb-1">{{ request.movie.title }} </h5>
                            <small class="text-muted">made on {{ request.request_date|date:"j F Y" }}</small>
                            <p class="mb-1 multi-line-text-truncate">{{ request.description }}</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-2 text-md-right mt-3 mt-md-0">
                    <span class="badge badge-info request-status">{{ request.get_status_display }}</span>
                    <button class="btn btn-sm btn-danger request-btn ml-2 remove-request-button" data-request-id="{{ request.id }}" data-movie-id="{{ request.movie.tmdb_id }}" data-action="remove">Remove</button>
                </div>
            </div>
        </li>
        {% empty %}
            <div class="alert alert-success d-flex justify-content-center align-items-center" role="alert">
                <span class="text-center font-weight-bold" style="font-size: 1.5em;">Look's like no one's here...</span>
            </div>
        {% endfor %}
       {% include 'navigation/pagination_buttons.html' %}
    </ul>

</div>
<script>
    $(document).ready(function() {
        $('.remove-request-button').click(function() {
            var button = $(this)
            var movie_id = $(this).attr('data-movie-id')
            var requestStatus = button.closest('.row').find('.request-status');
            console.log(movie_id)
            $.ajax({
                type: 'POST',
                url: "{% url 'movieapp:remove_request_ajax_noparam' %}",
                data: {
                    movie_id: movie_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.status === 'success') {
                        button.text('Removed');
                        requestStatus.hide()
                    }
                },
                error: function(response) {
                    requestStatus.show()
                    requestStatus.text('An error occurred. Please try again.').css('color', 'red');
                }
            });
        });
    });
</script>

{% endblock %}
