{% extends 'GPT_home.html' %}
{% csrf_token %}
{% block content %}

<div class="container mt-4">
    <h2>Your Title Requests</h2>
    <ul class="list-group">
        {% for request in page_obj %}
        <li class="list-group-item">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <div class="d-flex align-items-center">
                        <div class="mr-3">
                            {% if request.movie.poster_url %}
                            <img src="{{ request.movie.poster_url }}" class="img-thumbnail" alt="Poster del film" style="width: 75px; height: 100px;">
                            {% else %}
                            <img src="https://via.placeholder.com/75x100" class="img-thumbnail" alt="Immagine non disponibile">
                            {% endif %}
                        </div>
                        <div>
                            <h5 class="mb-1">{{ request.movie.title }} </h5>
                            <small class="text-muted">made on {{ request.request_date|date:"j F Y" }}</small>
                            <p class="mb-1 multi-line-text-truncate">{{ request.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-md-right mt-3 mt-md-0">
                    <span class="badge badge-info">{{ request.get_status_display }}</span>
                    <button class="btn btn-sm btn-danger request-btn ml-2" data-request-id="{{ request.id }}" data-action="remove">Remove</button>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

   {% include 'navigation/pagination_buttons.html' %}
</div>

{% endblock %}
