{% extends 'GPT_home.html' %}
{% load static %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <img src="{{ user.profile.propic.url }}" class="rounded-circle img-thumbnail" alt="Profile Picture" style="width: 150px; height: 150px;">
                <h4 class="mt-2">{{ request.user.username }}</h4>
                <p>{{ request.user.email }}</p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dashboard</h5>
                    <div class="list-group">
                        <a href="{% url 'userdashboard:my_watchlist' %}" class="list-group-item list-group-item-action">Watchlist</a>
                        <a href="{% url 'userdashboard:my_requests' %}" class="list-group-item list-group-item-action">My Requests</a>
                        <a href="{% url 'edit_profile' %}" class="list-group-item list-group-item-action">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
