{% extends 'GPT_home.html' %}
{% csrf_token %}
{% block content %}

<div class="container mt-4">
    <h2>Your Watchlist</h2>
    <ul class="list-group">
        {% for movie in watchlist_movies %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                {% if movie.poster_url %}
                <img src="{{ movie.poster_url }}" class="img-thumbnail mr-3" alt="Poster del film" style="width: 50px; height: 75px;">
                {% else %}
                <img src="https://via.placeholder.com/50x75" class="img-thumbnail mr-3" alt="Immagine non disponibile">
                {% endif %}
                <div>
                    <a href="{% url 'movieapp:movie_detail_nopage' movie.pk %}"><h5>{{ movie.title }} - {{ movie.year }}</h5></a>
                    <p class="mb-1 multi-line-text-truncate">{{ movie.description }}</p>
                </div>
            </div>
            <button class="btn btn-sm btn-danger watchlist-btn" data-movie-id="{{ movie.tmdb_id }}" data-action="remove">Remove from Watchlist</button>
        </li>
        {% empty %}
            <div class="alert alert-success d-flex justify-content-center align-items-center" role="alert">
                <span class="text-center font-weight-bold" style="font-size: 1.5em;">Look's like no one's here...</span>
            </div>
        {% endfor %}
    </ul>

    <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if watchlist_movies.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="First">
                <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ watchlist_movies.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for num in watchlist_movies.paginator.page_range %}
        {% if watchlist_movies.number == num %}
        <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
        {% elif num > watchlist_movies.number|add:'-3' and num < watchlist_movies.number|add:'3' %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
        {% endfor %}
        {% if watchlist_movies.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ watchlist_movies.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ watchlist_movies.paginator.num_pages }}" aria-label="Last">
                <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
</div>
<script>
$(document).ready(function() {
    $('.watchlist-btn').click(function() {
        var icon = $(this);
        var movie_id = $(this).attr('data-movie-id');
        $.ajax({
            url: '{% url "movieapp:add_movie_to_watchlist" %}',
            type: 'POST',
            data: {
                movie_id: movie_id,
                csrfmiddlewaretoken: $('[name="csrfmiddlewaretoken"]').val()
            },
            success: function(response) {
                if (icon.text() === 'Add to Watchlist') icon.text('Remove from Watchlist');
                else icon.text('Add to Watchlist');
            },
            error: function(xhr, status, error) {
                console.log('Errore:', error);
                alert('An error occurred, try again later.');
            }
        });
    });
});
</script>

{% endblock %}
