{% extends 'GPT_home.html' %}

{% block content %} 

<div class="container mt-4">
    <h2>Lista dei Film</h2>
    <div class="row">
        {% for movie in page_obj %}
        <div class="col-lg-3 col-md-4 mb-4">
            <div class="card h-100" id="{{ movie.tmdb_id }}">
                {% if movie.poster_url %}
                <img src="{{ movie.poster_url }}" class="card-img-top" alt="Poster del film">
                {% else %}
                <img src="https://via.placeholder.com/300x450" class="card-img-top" alt="Immagine non disponibile">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title text-truncate">{{ movie.title }} - {{ movie.year }}</h5>
                    <p class="card-text multi-line-text-truncate">{{ movie.description }}</p>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'movieapp:movie_detail' movie.pk page_obj.number %}" class="btn btn-secondary btn-sm">View Details</a>
                        {% if movie in request.user.profile.watchlisted.all %}
                        	<a class="watchlist-btn btn btn-secondary btn-sm" data-movie-id="{{ movie.tmdb_id }}">Remove to Watchlist</a>
                        {% else %}
                            <a class="watchlist-btn btn btn-secondary btn-sm" data-movie-id="{{ movie.tmdb_id }}">Add to Watchlist</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% include 'navigation/pagination_buttons.html' %}

</div>

<script>
$(document).ready(function() {
$('.watchlist-btn').click( function (){
        var icon = $(this)
        var movie_id = $(this).attr('data-movie-id')
        $.ajax({
            url:  {% url 'movieapp:add_movie_to_watchlist' %},
            type: 'POST',
            data: {
                movie_id: movie_id,
                csrfmiddlewaretoken: $('[name="csrfmiddlewaretoken"]').val()
            },
            success: function(response) {
                if(icon.text()==='Add to Watchlist') icon.text('Remove to Watchlist');
                else icon.text('Add to Watchlist')
            },
            error: function(xhr, status, error) {
                console.log('Errore:', error);
                alert('An error occured, try again later.');
            }
        });
});
});
</script>

{% endblock %}
