<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block navtitle %}Media Request Service{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .rounded-border {
            border-radius: 10px;
        }
        .navbar {
            background-color: #0d6100; /* Navbar background color */
        }
        .navbar-search {
            width: 500px; /* Adjust as needed */
        }
        .footer {
            background-color: rgb(159, 159, 159); /* Footer background color */
            padding: 20px 0;
            text-align: center;
            margin-top: auto;
            width: 100%;
        }
        .multi-line-text-truncate {
          overflow: hidden;
          max-width: 400px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          margin: 20px auto;
        }

    </style>
    {% load crispy_forms_tags %}

</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{% url 'movieapp:home' %}">Media Request Service</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    
        <ul class="navbar-nav">
            {% if not request.user.is_authenticated %}
            <li class="nav-item">
                <span class="nav-link disabled">Anonymous User</span>
            </li>
            {% elif user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="/admin/">{{ request.user.username }} - ADMIN</a>
            </li>
            {% else %}
            <li class="nav-item">
                <span class="nav-link">{{ request.user.username }} - {{ user.groups.all.0.name }}</span>
            </li>
            {% endif %}
        </ul>
    
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav">

            <li class="nav-item">
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-light ml-2">Logout</button>
                </form>
            </li>
            {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mregister' %}"><i class="fas fa-user"></i>Create New Moderator</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'movieapp:edit_profile' %}"><i class="fas fa-user"></i>Edit profile</a>
            </li>
        </ul>
        {% else %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href={% url 'login' %}><i class="fas fa-user"></i>Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'rregister' %}"><i class="fas fa-user"></i>Sign-up</a>
            </li>

        </ul>            
        {% endif %}
    </div>
</nav>

{% if "ok" in request.GET.login or "ok" in request.GET.logout %}
<div id="info" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {% if "ok" in request.GET.login %}
            <h5 class="modal-title">Welcome {{user.username}} </h5>
        {% else %}
            <h5 class="modal-title">Goodbye {{user.username}} </h5>
        {% endif %}
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% if "ok" in request.GET.login %}
            <p> You are now logged in! </p>
          {% else %}
            <p> You are now logged out! See you soon. </p>
          {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
<script>
  $(document).ready(function(){
      $("#info").modal('show');
  });
</script>

{% endif %}

<!-- Content Section -->
    
    {% block title %}
    {% endblock %}

    {% block content %}
    {% endblock %}

<!-- Footer -->
<footer class="footer mt-auto">
    <div class="container">
        <p></p>
    </div>
</footer>

<!-- Bootstrap JS and dependencies -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
