{% extends 'GPT_home.html' %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

{% block content %}
    
{% if error_msg %}
<div class="alert alert-danger" role="alert">
    {{ error_msg }}
</div>
{% endif %}
    
{% if request.user.is_authenticated and not "notok" in request.GET.auth %}
    <div class="alert alert-danger" role="alert">
        you are already logged in! Log out first.
    </div>
{% elif "notok" in request.GET.auth %}
        <div class="alert alert-danger" role="alert">
            You are not allowed to visit this page. Please login as an authorized user.
        </div>
    {% else %}
    <form method="POST" action="{% url 'login' %}"> {% csrf_token %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2>Registered User Login</h2>
                <br>
                    <div class="form-group">

                        <label> Username:
                            <input type="text" class="form-control" name="username" placeholder="Enter username">
                        </label>
                    </div>
                    <div class="form-group">

                        <label> Password:
                            <input type="password" class="form-control" name="password" placeholder="Enter password">
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
            </div>
            </div>
        </div>
    </form>
{% endif %}
    
{% endblock %}

{% block footer %} {% endblock %}