{% extends 'GPT_home.html' %}

{% load crispy_forms_tags %} 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

{% block title %} Creazione Utente {{ form.user_group_name }} {% endblock %} 

{% block header1 %}
  <h1>Pagina di Registrazione</h1>
  <p>Si prega di compilare i campi necessari</p> 
{% endblock %}

{% block content %} 

<form method="post"> {% csrf_token %}

  {{form | crispy}}
  
  <input type="submit" class="btn btn-success" value="Registrati ora!">
  
  </form>

{% endblock %}

{% block footer %} {% endblock %}